#calculator {
  width: 280px; padding: 10px 10px 0px 10px; border: 1px solid #d5d5d5; background: #f2f2f2;
}
.display {
  min-height: 60px; background: #ffffff; border: 1px solid #a0a0a0; margin-bottom: 15px;
  padding: 10px; text-align: right;
}

.display .main {
  font-size: 35px;
}
.display .sub {
  font-size: 20px;
}

.numbers {
  width: 165px;
}
.controlPanel {
  position: relative; padding-right: 50px;
}
.controlPanel > div {

}
.numbers span {
  display: inline-block; padding: 15px 0px; background: #e5e5e5; color: blue;
  border: 1px solid #a0a0a0; font-weight: normal; margin-right: 10px;
  margin-bottom: 10px; font-size: 20px; width: 40px; text-align: center;
  cursor: pointer;
}
.operation span {
  display: block; padding: 15px 0px; background: #808080; color: white;
  border: 1px solid #a0a0a0; font-weight: normal; margin-bottom: 10px;
  font-size: 20px; width: 50px; text-align: center;
  cursor: pointer;
}
#equalTo {
  display:block; background: blue; font-size: 20px; font-weight: bold;
  color: #ffffff; padding: 40px 0px; width: 50px; text-align: center;
  position: absolute; bottom: 10px; right: 0px; border: 1px solid blue;
  cursor: pointer;
}

.numbers span:hover, .operation span:hover, #equalTo:hover {
  border-color: yellow;
}

.f_l {float: left;}
.f_r {float: right;}
.clearfix:after {clear: both;}
.clearfix:before,
.clearfix:after {display: table; content: " ";}
